
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;800&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}


body {
    margin: auto;
    padding: 30px;
    max-width: 600px;

    background-color: gainsboro;

    font-family: "Gothic A1", serif;
    font-weight: 500;
    font-style: normal;

    font-size: 16px;
    line-height: 1.7;
}


h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

header {
    margin-bottom: 30px;
}

section {
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

#linkToMain a {
    color: red;
    text-decoration: none;
}

#linkToMain a:hover {
    color: yellow;
    text-decoration: none;
}

#yejin {
    text-align: right;
}